body {
    background-image: linear-gradient(120deg, #cc7878, #f8dada);
    background-size: auto 200%;
    color: #504444;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
button {
    background-color: white;
    width: auto;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
button:hover {
    opacity: 50%;
    cursor: pointer;
}
.linkedPg {
    position: absolute;
    top: 45%;
    left: 43%;
    opacity: 0;
    width: 12%;
    padding: 1%;
    color: white;
    background-color: #5a5a5a;
}
.linkedPg a {
    color: white;
}
.linkedPg a:visited {
    color: white;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
}
#about {
    padding-top: 5%;
}
#about img {
    width: 250px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}
#about p {
    display: inline-block;
    width: 32%;
    font-size: 1.15em;
}
#about p:nth-of-type(2){
   margin: -2px auto 10px auto;
}
#links {
    padding: 10px;
}
#resume {
   display: none;
   background-color: white;
   padding: 20px 40px 40px 60px;
   width: 50%;
   border: none;
   border-radius: 15px;
   margin: auto;
   text-align: justify;
}
#resume > div > p:first-of-type {
    color: black;
    font-size: 1.75em;
}
#resume a {
    font-size: 1.50em;
    float: right;
}
.topic { /*resume bulletpoints*/
   font-weight: bold;
}
.dates { /*dates on resume*/
    float: right;
    padding-right: 10px;
}
#commissions, #projects {
    display: none;
}
#about h1, #commissions p:first-of-type, #projects p:first-of-type, #contact p:first-of-type {
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
}
.commissionPreview {
    margin: auto;
    position: relative;
    width: 60%;
}
.commissionPreview img, .projectPreview img {
    display: block;
    padding: 10px;
    width: 100%;
    height: auto;
}
.hasDomain:hover img { /*for the sites that have a domain*/
    filter: blur(5px);
}
.commissionPreview:hover .linkedPg, .projectPreview:hover .linkedPg {
    opacity: 1;
}
.projectPreview {
    margin: auto;
    position: relative;
    width: 60%;
}
#contact {
    display: none;
}
#contact p:nth-of-type(2){
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 40px;
    border: 3px double #504444;
    border-radius: 100px;
    text-align: left;
    font-size: 1.25em;
}
#contact img {
    height: 40px;
}
#contact p > a {
    font-size: 2.5em;
    color: black;
}
#contact a:hover {
    color: whitesmoke;
}
footer {
    padding-top: 10px;
}
/*for phones*/
@media screen and (max-width: 480px){
    #about p {
        width: 100%;
        text-align: justify;
    }
    #about img {
        width: 50%;
    }
    button {
        width: 100%;
        margin-bottom: 20px;
    }
    #resume {
        width: 95%;
        padding: 20px 10px 60px 5px;
    }
    #resume > div {
        width: 100%;
        overflow: scroll;
    }
    #resume p:first-of-type{
        font-size: 0.5em;
        text-align: center;
    }
    #resume a {
        float: none;
        margin-left: 50%;
        font-size: 2.5em;
    }
    .commissionPreview , .projectPreview {
        width: 90%;
        margin: auto;
    }
    #contact p > a {
        font-size: 1em;
        padding-left: 10px;
    }
    #contact img {
        width: 10%;
        height: 15%;
    }

}
/*for tablets*/
@media screen and (max-width: 1024px){
    #about p {
        width: 90%; 
    }
    #resume {
        width: 80%;
    }
    #resume a {
        font-size: 2em;
    }
    .commissionPreview , .projectPreview {
        width: 90%;
        margin: auto;
    }
}