/*(c) CaRyn Newton 2021 */
body {
    background-image: linear-gradient(120deg, #cc7878, #f8dada);
    background-size: auto 200%;
    color: #504444;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
button {
    background-color: white;
    width: auto;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
button:hover {
    opacity: 50%;
    cursor: pointer;
}
.linkedPg {
    position: absolute;
    top: 45%;
    left: 43%;
    opacity: 0;
    width: 12%;
    padding: 1%;
    color: white;
    background-color: #5a5a5a;
}
.linkedPg a {
    color: white;
}
.linkedPg a:visited {
    color: white;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
}
#about {
    padding-top: 5%;
}
#about img {
    width: 250px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}
#about p {
    display: inline-block;
    width: 32%;
    font-size: 1.15em;
}
#about p:nth-of-type(2){
   margin: -2px auto 10px auto;
}
#links {
    padding: 10px;
}
#resume {
   display: none;
   background-color: white;
   padding: 20px 40px 40px 60px;
   width: 50%;
   border: none;
   border-radius: 15px;
   margin: auto;
   text-align: justify;
}
#resume > div > p:first-of-type {
    color: black;
    font-size: 1.75em;
}
#resume a {
    font-size: 1.50em;
    float: right;
}
.topic {
   font-weight: bold;
}
.dates {
    float: right;
    padding-right: 10px;
}
#commissions, #projects {
    display: none;
}
#about h1, #commissions p:first-of-type, #projects p:first-of-type, #contact p:first-of-type {
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
}
#drapery {
    margin: auto;
    position: relative;
    width: 60%;
}
#drapery img, #stromae img {
    display: block;
    padding: 10px;
    width: 100%;
    height: auto;
}
#drapery:hover img {
    filter: blur(5px);
}
#drapery:hover .linkedPg {
    opacity: 1;
}
#stromae {
    margin: auto;
    width: 60%;
}
#contact {
    display: none;
}
#contact p:nth-of-type(2){
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 40px;
    border: 3px double #504444;
    border-radius: 100px;
    text-align: left;
    font-size: 1.25em;
}
#contact img {
    height: 40px;
}
#contact p > a {
    font-size: 2.5em;
    color: black;
}
#contact a:hover {
    color: whitesmoke;
}
footer {
    padding-top: 10px;
}